<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

<!-- Include spring boot logging -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    
	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } --- [%15t] %-40.40logger{39} : %m%n%wex</pattern>
		</encoder>
	</appender>

	<logger name="org.service" additivity="false">
		<appender-ref ref="consoleAppender" />
	</logger>

</configuration>